footer {
    padding: 2rem;
    background-color: var(--color-900);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

img {
    max-width: 200px;
    border-radius: 100%;
}

a {
    color: var(--color-100);
    font-size: 2rem;
    text-decoration: none;
}
    a:hover {
        opacity: 0.8;
    }