h2 {
    margin-bottom: 2rem;
    color: var(--color-900);
    font-size: 2rem;
}

h3 {
    margin-bottom: 1rem;
    color: var(--color-900);
    font-size: 1.5rem;
}

p {
    max-width: 70ch;
    margin: 0.5rem 0;
    color: var(--color-900);
}


.container {
    padding: 4rem;
}


.pars {
    margin: 1rem auto;
    padding: 2rem 0;
}
